
#j1{

    text-align: center;
}
#t1{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 5%;
    padding: 50px;
    max-width: 20%;
    border-radius: 4%;
    font-family: sans-serif;
    font-weight: 600;


}
#name{
    border-radius: 5px;
    padding: 5px;
    width:80%;
    margin:10px;

}
#email{
    border-radius: 5px;
    width:80%;
    padding: 5px;
    margin:10px;

}
#password{
    border-radius: 5px;
    padding: 5px;
    width:80%;
    margin:10px;

}
#dob{
    border-radius: 5px;
    padding: 5px;
    width:80%;
    margin:10px;

}

#c1{
    display: inline-flex;
    margin:10px;

}
button{
    width:70px;
    padding:5px;
    border-radius: 15px;
    border-width: 1px;
}


}


